<% provide(:title, @season.title) %>

<h3><%= @season.title %> (<%= @season.total_wins%> - <%= @season.total_losses %>)</h3>
<%= link_to "Update season details", edit_season_path(@season) %>
</p>

<div class="span8">
	<% if @season.games.any? %>
  		<h2>Games (<%= @season.games.count %>)</h2>
    	<ol class="games">
		<table class="table table-condensed table-striped">
			<thead>
			    <tr>
			      	<th>Date</th>
			      	<th>Time</th>
			      	<th>Opponent</th>	
			  		<th>Result</th>
			  		<th></th>			
			 	</tr>
			 </thead>
			<tbody>
    			<%= render @games %>
			</tbody>
		</table>
     	</ol>
     	<%= will_paginate @games %>
    <% end %>
	<%= link_to "Add a game", new_season_game_path(@season), class: "btn btn-small btn-primary" %>
	<%= link_to "Delete season", @season, method: :delete,data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>

</div>

