<% provide(:title, 'Game details') %>

<h3>
<% if @game.gamesite.name == 'Away'%>	
	 @ <%= @game.opponent %>
<% else %>
    vs. <%= @game.opponent %>
<% end %>
(<%= @game.gameresult.abbreviation %>)
</h3>

<div class="span8">
<%= @game.game_date %> <%= @game.game_time %>
<%#= @game.game_date.strftime('%A, %B %e %Y') + " | " + @game.game_time.strftime('%l:%M %p') %>
</div>
<div class="span8">
	<p>&nbsp;</p>
	</div>

<div class="span8">
<ol class="games">
	<% if @game.does_total_runs_match_result? %>
	  <div id="error_explanation">
	    <div class="alert alert-error">
	      Total number of runs does not match box score.
	    </div>
	  </div>
	<% end %>
	
<table class="table table-condensed table-striped">
	<thead>
	    <tr>
			<th></th>
			<th>AB</th>
	      	<th>H</th>	
			<th>R</th>
	      	<th>RBI</th>		
	  		<th>AVG</th>
	  		<th>1B</th>			
	  		<th>2B</th>			
	  		<th>3B</th>			
	  		<th>HR</th>						
	  		<th>BB</th>	
	  		<th>SAC</th>			
	  		<th>K</th>				
	 	</tr>
	 </thead>
	<tbody>
		<% @box.each do |b| %>
		<tr>
			<td><%= link_to b["player"].name, player_path(b["player"].id) %></td>
			<td><%= number_with_precision(b["AB"], :precision => 0)  %></td>	
			<td><%= number_with_precision(b["H"], :precision => 0)  %></td>
			<td><%= number_with_precision(b["R"], :precision => 0)  %></td>	
			<td><%= number_with_precision(b["RBI"], :precision => 0)  %></td>								
			<td><%= number_with_precision(b["AVG"], :precision => 3)  %></td>	
			<td><%= number_with_precision(b["1B"], :precision => 0)  %></td>	
			<td><%= number_with_precision(b["2B"], :precision => 0)  %></td>	
			<td><%= number_with_precision(b["3B"], :precision => 0)  %></td>	
			<td><%= number_with_precision(b["HR"], :precision => 0)  %></td>	
			<td><%= number_with_precision(b["BB"], :precision => 0)  %></td>	
			<td><%= number_with_precision(b["SAC"], :precision => 0)  %></td>													
			<td><%= number_with_precision(b["K"], :precision => 0)  %></td>																
		</tr>		
		<% end %>				
		<%#= render @box %>
		<tr>
			<td>Total</td>
			<td><%= number_with_precision(@game.get_total_box('AB'), :precision => 0) %></td>
			<td><%= number_with_precision(@game.get_total_box('H'), :precision => 0)  %></td>
			<td><%= number_with_precision(@game.get_total_box('R'), :precision => 0)  %></td>						
			<td><%= number_with_precision(@game.get_total_box('RBI'), :precision => 0)  %></td>		
			<td><%= number_with_precision(@game.get_total_box('AVG'), :precision => 3)  %></td>				
			<td><%= number_with_precision(@game.get_total_box('1B'), :precision => 0)  %></td>
			<td><%= number_with_precision(@game.get_total_box('2B'), :precision => 0)  %></td>
			<td><%= number_with_precision(@game.get_total_box('3B'), :precision => 0)  %></td>
			<td><%= number_with_precision(@game.get_total_box('HR'), :precision => 0)  %></td>									
			<td><%= number_with_precision(@game.get_total_box('BB'), :precision => 0)  %></td>
			<td><%= number_with_precision(@game.get_total_box('SAC'), :precision => 0)  %></td>				
			<td><%= number_with_precision(@game.get_total_box('K'), :precision => 0)  %></td>
		</tr>		
	</tbody>
</table>
</ol>
</div>

<div class="span8">
<p><%= link_to 'Add Box', new_season_game_box_path(@season, @game), class: "btn btn-small btn-primary" %></p>
<p><%= link_to 'Edit', edit_season_game_path(@season, @game), class: "btn btn-small btn-warning" %>
<%= link_to "Delete", season_game_path, method: :delete,data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %></p>
</div>