<% provide(:title, 'Game details') %>

<h3>
<% if @game.gamesite.name == 'Away'%>	
	 @ <%= @game.opponent %>
<% else %>
    vs. <%= @game.opponent %>
<% end %>
(<%= @game.gameresult.abbreviation %>)
</h3>

<%= @game.game_date %> <%= @game.game_time %>
<%#= @game.game_date.strftime('%A, %B %e %Y') + " | " + @game.game_time.strftime('%l:%M %p') %>

<p><%= link_to 'Edit', edit_season_game_path(@season, @game), class: "btn btn-small btn-warning" %>
<%= link_to "Delete", season_game_path, method: :delete,data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %></p>