<% provide(:title, @player.name) %>

<h3><%= @player.name %> - "<%= @player.moniker %>"</h3>

<div class="span8">
	Position: <%= @player.position.name %>
	<p><%= link_to 'Edit', edit_player_path(@player), class: "btn btn-small btn-warning" %>
	<%= link_to "Delete", @player, method: :delete,data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
	</p>
</div>

<div class="span8">
	<ol class="stats">
		<table class="table table-condensed table-striped">
			<thead>
			    <tr>
					<th></th>
					<th>G</th>
			      	<th>AVG</th>	
					<th>H</th>
			      	<th>RBI</th>		
			  		<th>AB</th>
			  		<th>R</th>			
			  		<th>1B</th>
			  		<th>2B</th>						
			  		<th>3B</th>			
			  		<th>HR</th>						
			  		<th>TB</th>	
			  		<th>BB</th>				
			  		<th>SAC</th>						
			 	</tr>
			 </thead>
			
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
	</ol>
</div>